<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webaltry.bugz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:name=".BugzillaApplication"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".QueriesActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".QueryResultsActivity"></activity>
        <activity android:name=".QueryActivity"></activity>
        
        <service android:name=".BugzillaService" />
        
  <provider
            android:name=".BugzillaProvider"
            android:exported="false"
            android:authorities="com.webaltry.bugz.bugzillaprovider" />      
        
        
        
        
    </application>

</manifest>